<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Emploi du Temps des professeurs</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/accueil"> <i class="nav-icon fas fa-home"></i></a>
                        </li>
                        <li class="breadcrumb-item active">Emploi du temps</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Afficher Emploi du Temps Par professeurs</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                                <i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Select Professeurs</label>
                                    <select class="form-control" name="F-1"
                                        (change)="OnChangeProf($event.target.value)">
                                        <option selected="selected">
                                                -----Choisir Professeur-----
                                                </option>
                                        <option *ngFor="let x of profesors" [value]="x.id">{{x.first_name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div *ngIf="affichier" class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Table Emploi</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>S</th>
                                    <th>lundi</th>
                                    <th>mardi</th>
                                    <th>mercredi</th>
                                    <th>jeudi</th>
                                    <th>vendredi</th>
                                    <th>samedi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let x of displaytable[0];let i=index">
                                    <td>S{{i+1}}</td>
                                    <td *ngIf="displaytable[0][i].material2">
                                        <p>{{displaytable[0][i].material2.material_name}}</p>
                                        <p *ngIf="displaytable[0][i].professor2">
                                            {{displaytable[0][i].professor2.first_name}}</p>
                                        <p *ngIf="displaytable[0][i].classroom2">
                                            {{displaytable[0][i].classroom2.classroom_name}}</p>
                                    </td>
                                    <td *ngIf="!displaytable[0][i].material2">
                                        <p>Vide</p>
                                    </td>
                                    <!---->
                                    <td *ngIf="displaytable[1][i].material2">
                                        <p>{{displaytable[1][i].material2.material_name}}</p>
                                        <p *ngIf="displaytable[1][i].professor2">
                                            {{displaytable[1][i].professor2.first_name}}</p>
                                        <p *ngIf="displaytable[1][i].classroom2">
                                            {{displaytable[1][i].classroom2.classroom_name}}</p>
                                    </td>
                                    <td *ngIf="!displaytable[1][i].material2">
                                        <p>Vide</p>
                                    </td>
                                    <!---->
                                    <td *ngIf="displaytable[2][i].material2">
                                        <p>{{displaytable[2][i].material2.material_name}}</p>
                                        <p *ngIf="displaytable[2][i].professor2">
                                            {{displaytable[2][i].professor2.first_name}}</p>
                                        <p *ngIf="displaytable[2][i].classroom2">
                                            {{displaytable[2][i].classroom2.classroom_name}}</p>
                                    </td>
                                    <td *ngIf="!displaytable[2][i].material2">
                                        <p>Vide</p>
                                    </td>
                                    <!---->
                                    <td *ngIf="displaytable[3][i].material2">
                                        <p>{{displaytable[3][i].material2.material_name}}</p>
                                        <p *ngIf="displaytable[3][i].professor2">
                                            {{displaytable[3][i].professor2.first_name}}</p>
                                        <p *ngIf="displaytable[3][i].classroom2">
                                            {{displaytable[3][i].classroom2.classroom_name}}</p>
                                    </td>
                                    <td *ngIf="!displaytable[3][i].material2">
                                        <p>Vide</p>
                                    </td>
                                    <!---->
                                    <td *ngIf="displaytable[4][i].material2">
                                        <p>{{displaytable[4][i].material2.material_name}}</p>
                                        <p *ngIf="displaytable[4][i].professor2">
                                            {{displaytable[4][i].professor2.first_name}}</p>
                                        <p *ngIf="displaytable[4][i].classroom2">
                                            {{displaytable[4][i].classroom2.classroom_name}}</p>
                                    </td>
                                    <td *ngIf="!displaytable[4][i].material2">
                                        <p>Vide</p>
                                    </td>
                                    <!---->
                                    <td *ngIf="displaytable[5][i].material2">
                                        <p>{{displaytable[5][i].material2.material_name}}</p>
                                        <p *ngIf="displaytable[5][i].professor2">
                                            {{displaytable[5][i].professor2.first_name}}</p>
                                        <p *ngIf="displaytable[5][i].classroom2">
                                            {{displaytable[5][i].classroom2.classroom_name}}</p>
                                    </td>
                                    <td *ngIf="!displaytable[5][i].material2">
                                        <p>Vide</p>
                                    </td>
                                    <!---->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->