<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">


            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Demo Debut Séance</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Select Prof</label>
                                <select class="form-control" name="F-1" (change)="OnChangeProf($event.target.value)">
                                    <option selected="selected">-----Choisir Professeur-----</option>
                                    <option *ngFor="let x of profesors" [value]="x.id">{{x.first_name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Select Séance</label>
                                <select class="form-control" [(ngModel)]="data_to_detecter" name="F-0">
                                        <option selected="selected">-----Choisir Séance-----</option>
                                    <option *ngFor="let x of datatimetable" [ngValue]="x">
                                        {{x.meeting_name+x.weekdays+x.material2.material_name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button *ngIf="affiche" type="submit" class="btn btn-danger"
                            (click)="annuler()">annuler</button>
                        <button *ngIf="!affiche" type="submit" class="btn btn-primary"
                            (click)="startmeeting()">Demarre</button>
                    </div>
                </div>
            </div>


            <div *ngIf="statemeeting" class="card">
                <div class="card-header">
                    <h3 class="card-title">Resultats de Séance</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>etudiant</th>
                                <th>happy</th>
                                <th style="width: 40px">present</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                          
                            <tr *ngFor="let x of statemeeting;let i=index">
                                <td>{{i}}</td>
                                <td>{{x.student2.first_name+" "+x.student2.second_name}}</td>
                                <td>
                                   {{x.emotion}}
                                    
                                </td>
                                <td>{{x.presence}}</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
               
            </div>

        </div>
    </section>
</div>