<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div *ngIf="!show_table" class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title">Choisir Groupe D'emploi</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Select Section</label>
                            
                                <select class="form-control" name="F-1" (change)="OnChangeSection($event.target.value)">
                                        <option selected="selected">-----Choisir Section-----</option>
                                    <option *ngFor="let x of sections" [value]="x.id">{{x.section_name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Select Groupe</label>
                          
                                <select class="form-control" (change)="OnChangeGroupe(+$event.target.selectedOptions[0].dataset.value)" [(ngModel)]="Addtimetable.groupe" name="F-0">
                                        <option selected="selected">-----Choisir Groupe-----</option>
                                    <option *ngFor="let x of groupechoose" [ngValue]="x" [attr.data-value]="x.id">{{x.groupe_name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Affichier</button>
                    </div> -->
                </div>
            </div>
            <div *ngIf="show_table" class="row">
                <div class="col-md-3">
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Ajouter Temps Séance</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form role="form">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- input states -->
                                        <div class="form-group">
                                            <label class="col-form-label" for="inputSuccess"><i
                                                    class="fas fa-check"></i> nom
                                            </label>
                                            <select name="F303"
                                                (change)="OnChangeUpdateMeetingTime($event.target.value)"
                                                class="form-control">
                                                <option *ngFor="let x of all_meeting_time" [value]="x.index">
                                                    {{x.meeting_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label" for="inputSuccess"><i
                                                    class="fas fa-check"></i>Éditer
                                            </label>
                                            <div class="form-group">
                                                <button type="submit" (click)="updatemeetingtime()"
                                                    class="btn btn-primary">Éditer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>debut :</label>
                                            <input type="time" [(ngModel)]="updatemeeting_time.start" name="F11"
                                                class="form-control is-valid" placeholder="Enter ...">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>fin :</label>
                                            <input type="time" [(ngModel)]="updatemeeting_time.end" name="F22"
                                                class="form-control is-valid" placeholder="Enter ...">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <div   class="col-md-3">
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Ajouter Séance</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form role="form">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- input states -->
                                        <div class="form-group">
                                            <label class="col-form-label" for="inputSuccess"><i
                                                    class="fas fa-check"></i> Régime
                                            </label>
                                            <input type="text" [(ngModel)]="Addmeeting.diet" name="F3"
                                                class="form-control is-valid" id="inputSuccess" placeholder="Enter ...">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <!-- input states -->
                                        <div class="form-group">
                                            <label class="col-form-label" for="inputSuccess"><i
                                                    class="fas fa-check"></i> Type
                                            </label>
                                            <input type="text" [(ngModel)]="Addmeeting.types" name="F4"
                                                class="form-control is-valid" id="inputSuccess" placeholder="Enter ...">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- select -->
                                        <div class="form-group">
                                            <label> prof</label>
                                            <select [(ngModel)]="Addmeeting.professor" name="F5" class="form-control">
                                                <option *ngFor="let x of profesors" [ngValue]="x">{{x.first_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label> salle</label>
                                            <select [(ngModel)]="Addmeeting.classroom" name="F6" class="form-control">
                                                <option *ngFor="let x of classrooms" [ngValue]="x">{{x.classroom_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="text-danger">matiére</label>
                                            <select [(ngModel)]="Addmeeting.material" name="F7" class="form-control">
                                                <option *ngFor="let x of matters" [ngValue]="x">{{x.material_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Ajouter</label>
                                        <div class="form-group">
                                            <button type="submit" (click)="addmeeting()"
                                                class="btn btn-primary">Ajouter</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- START ADDED MEETING-->
                <div  id="Waitmeeeting" class="col-md-3" cdkDropList #WaitmeeetingList="cdkDropList"
                    [cdkDropListData]="Waitmeeeting"
                    [cdkDropListConnectedTo]="[lundiList,mardiList,mercrediList,jeudiList,vendrediList,samediList,WaitmeeetingList]"
                    (cdkDropListDropped)="onDrop($event)">
                    <div>
                        <div class="external-event bg-warning" *ngFor="let x of Waitmeeeting" cdkDrag>
                            {{"type :"+x.diet+"/régime :"+x.types+"/matiére :"+x.material.material_name+"/salle :"+x.classroom.classroom_name+"/prof :"+x.professor.first_name}}</div>
                    </div>
                </div>
                <!--END ADDED MEETING-->
                <!-- /.col -->
                <div  class="row ">
                    <div class="col-md-12">
                        <div class="card card-primary ">
                            <div class="card-header">
                                <h3 class="card-title">Emploi Du Temps</h3>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="container card-body">
                                <div class="row">
                                    <div>
                                        <a href="#" class="btn btn-block btn-outline-primary">lundi</a>
                                        <ul class="list-group">
                                            <li id="lundi" cdkDropList #lundiList="cdkDropList"
                                                [cdkDropListData]="lundi"
                                                [cdkDropListConnectedTo]="[lundiList,mardiList,mercrediList,jeudiList,vendrediList,samediList,WaitmeeetingList]"
                                                (cdkDropListDropped)="onDrop($event)">
                                                <div *ngFor="let x of lundi;let i=index"
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    <span class="badge badge-primary badge-pill">S{{i+1}}</span>
                                                    <div class="col-sm">
                                                        <div>
                                                            <div class="external-event bg-warning"
                                                                *ngIf="lundi[i].material" cdkDrag>
                                                                {{lundi[i].material.material_name}}</div>
                                                            <div class="external-event bg-dark"
                                                                *ngIf="!lundi[i].material" cdkDrag>
                                                                vide</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <a href="#" class="btn btn-block btn-outline-primary">mardi</a>
                                        <ul class="list-group">
                                            <li id="mardi" cdkDropList #mardiList="cdkDropList"
                                                [cdkDropListData]="mardi"
                                                [cdkDropListConnectedTo]="[lundiList,mardiList,mercrediList,jeudiList,vendrediList,samediList,WaitmeeetingList]"
                                                (cdkDropListDropped)="onDrop($event)">
                                                <div *ngFor="let x of mardi;let i=index"
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    <span class="badge badge-primary badge-pill">S{{i+1}}</span>
                                                    <div class="col-sm">
                                                        <div>
                                                            <div class="external-event bg-warning"
                                                                *ngIf="mardi[i].material" cdkDrag>
                                                                {{mardi[i].material.material_name}}</div>
                                                            <div class="external-event bg-dark"
                                                                *ngIf="!mardi[i].material" cdkDrag>
                                                                vide</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <a href="#" class="btn btn-block btn-outline-primary">mercredi</a>
                                        <ul class="list-group">
                                            <li id="mercredi" cdkDropList #mercrediList="cdkDropList"
                                                [cdkDropListData]="mercredi"
                                                [cdkDropListConnectedTo]="[lundiList,mardiList,mercrediList,jeudiList,vendrediList,samediList,WaitmeeetingList]"
                                                (cdkDropListDropped)="onDrop($event)">
                                                <div *ngFor="let x of mercredi;let i=index"
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    <span class="badge badge-primary badge-pill">S{{i+1}}</span>
                                                    <div class="col-sm">
                                                        <div>
                                                            <div class="external-event bg-warning"
                                                                *ngIf="mercredi[i].material" cdkDrag>
                                                                {{mercredi[i].material.material_name}}</div>
                                                            <div class="external-event bg-dark"
                                                                *ngIf="!mercredi[i].material" cdkDrag>
                                                                vide</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <a href="#" class="btn btn-block btn-outline-primary">jeudi</a>
                                        <ul class="list-group">
                                            <li id="jeudi" cdkDropList #jeudiList="cdkDropList"
                                                [cdkDropListData]="jeudi"
                                                [cdkDropListConnectedTo]="[lundiList,mardiList,mercrediList,jeudiList,vendrediList,samediList,WaitmeeetingList]"
                                                (cdkDropListDropped)="onDrop($event)">
                                                <div *ngFor="let x of jeudi;let i=index"
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    <span class="badge badge-primary badge-pill">S{{i+1}}</span>
                                                    <div class="col-sm">
                                                        <div>
                                                            <div class="external-event bg-warning"
                                                                *ngIf="jeudi[i].material" cdkDrag>
                                                                {{jeudi[i].material.material_name}}</div>
                                                            <div class="external-event bg-dark"
                                                                *ngIf="!jeudi[i].material" cdkDrag>
                                                                vide</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <a href="#" class="btn btn-block btn-outline-primary">vendredi</a>
                                        <ul class="list-group">
                                            <li id="vendredi" cdkDropList #vendrediList="cdkDropList"
                                                [cdkDropListData]="vendredi"
                                                [cdkDropListConnectedTo]="[lundiList,mardiList,mercrediList,jeudiList,vendrediList,samediList,WaitmeeetingList]"
                                                (cdkDropListDropped)="onDrop($event)">
                                                <div *ngFor="let x of vendredi;let i=index"
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    <span class="badge badge-primary badge-pill">S{{i+1}}</span>
                                                    <div class="col-sm">
                                                        <div>
                                                            <div class="external-event bg-warning"
                                                                *ngIf="vendredi[i].material" cdkDrag>
                                                                {{vendredi[i].material.material_name}}</div>
                                                            <div class="external-event bg-dark"
                                                                *ngIf="!vendredi[i].material" cdkDrag>
                                                                vide</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <a href="#" class="btn btn-block btn-outline-primary">samedi</a>
                                        <ul class="list-group">
                                            <li id="samedi" cdkDropList #samediList="cdkDropList"
                                                [cdkDropListData]="samedi"
                                                [cdkDropListConnectedTo]="[lundiList,mardiList,mercrediList,jeudiList,vendrediList,samediList,WaitmeeetingList]"
                                                (cdkDropListDropped)="onDrop($event)">
                                                <div *ngFor="let x of samedi;let i=index"
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    <span class="badge badge-primary badge-pill">S{{i+1}}</span>
                                                    <div class="col-sm">
                                                        <div>
                                                            <div class="external-event bg-warning"
                                                                *ngIf="samedi[i].material" cdkDrag>
                                                                {{samedi[i].material.material_name}}</div>
                                                            <div class="external-event bg-dark"
                                                                *ngIf="!samedi[i].material" cdkDrag>
                                                                vide</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>annuler</label>
                                        <div class="form-group">
                                            <button type="submit" (click)="exitupdatetimetable()"
                                                class="btn btn-danger">annuler</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>enregistrer</label>
                                        <div class="form-group">
                                            <button type="submit" (click)="updatetimetable()"
                                                class="btn btn-primary">enregistrer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </div>
        <!-- /.row -->
    </section>
</div>