<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a routerLink="/accueil" class="nav-link">Accueil</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="#" class="nav-link">Contact</a>
    </li>
  </ul>

  <!-- SEARCH FORM -->
  <form class="form-inline ml-3">
    <div class="input-group input-group-sm">
      <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-navbar" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>

 
  
</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="../assets/images/logo3.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Les Elites</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="../assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Admin Admin</a>

      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      
        <li class="nav-item has-treeview menu-open">
          <a routerLink="/" class="nav-link " (click)="openPage(1)">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Accueil

            </p>
          </a>

        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Emploi du temps
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/emploi" (click)="openPage(2)" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Gérer</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/emploiProf" (click)="openPage(2)" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Professeurs</p>
              </a>
            </li>
            <li class="nav-item menu-open">
              <a routerLink="/emploiEleve" (click)="openPage(3)" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Élèves</p>
              </a>
            </li>

          </ul>
        </li>

        <li class="nav-item active">
          <a routerLink="/professeurs" class="nav-link active" (click)="openPage(4)">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Gérer Professeurs

            </p>
          </a>
        </li>

        <li class="nav-item active">
          <a routerLink="/eleves" class="nav-link active" (click)="openPage(4)">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Gérer Élèves

            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Groupes && Section
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/groupes" class="nav-link" (click)="openPage(5)">
                <i class="far fa-circle nav-icon"></i>
                <p>Gérer Groupes && Section</p>
              </a>
            </li>



          </ul>
        </li>




        <li class="nav-item ">
          <a routerLink="/matieres" class="nav-link active" (click)="openPage(7)">
            <i class="far fa-circle nav-icon"></i>
            <p>Matières</p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a routerLink="/salles" class="nav-link active" (click)="openPage(9)">
            <i class="nav-icon far fa-plus-square"></i>
            <p>
              Gérer Salles

            </p>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link active" (click)="openPage(8)">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Listes présences

            </p>
          </a>
        </li>

        <li class="nav-item  ">
          <a routerLink="/demo" class="nav-link btn-danger  ">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Demo

            </p>
          </a>
        </li>





      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>


<router-outlet></router-outlet>


<!-- /.content-wrapper -->
<footer class="main-footer">
  <strong>Copyright &copy; 2020 <a href="#">NaSk</a>.</strong>
  Tous droits réservés.

</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark ">
  <div class="info clearfix">
    <div class="image">
      <a href="#">
        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
      </a>
    </div>
    <div class="content">
      <h5 class="name">
        <a href="#">john doe</a>
      </h5>
      <span class="email">johndoe@example.com</span>
    </div>
  </div>
  <div class="account-dropdown__body">
    <div class="account-dropdown__item">
      <a href="#">
        <i class="zmdi zmdi-account"></i>Account</a>
    </div>
    <div class="account-dropdown__item">
      <a href="#">
        <i class="zmdi zmdi-settings"></i>Setting</a>
    </div>
    <div class="account-dropdown__item">
      <a href="#">
        <i class="zmdi zmdi-money-box"></i>Billing</a>
    </div>
  </div>
  <div class="account-dropdown__footer">
    <a href="#">
      <i class="zmdi zmdi-power"></i>Logout</a>
  </div>
</aside>