<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Listes Élèves</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/accueil"> <i class="nav-icon fas fa-home"></i></a>
                        </li>
                        <li class="breadcrumb-item active">Listes Élèves</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Ajouter Élèves</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool">
                                <i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="card-body ">

                        <div class="form-group">
                            <label for="inputName">CIN</label>
                            <input type="number" id="CIN" placeholder="CIN"  name="365e" required class="form-control"
                                [(ngModel)]="studentAdd.nic">
                        </div>
                        <div class="form-group">
                            <label for="inputName">Nom</label>
                            <input type="text" id="Nom" placeholder="Nom"  name="m4" required class="form-control"
                                [(ngModel)]="studentAdd.first_name">
                        </div>
                        <div class="form-group">
                            <label for="inputName">Prénom</label>
                            <input type="text" id="Prénom" placeholder="Prénom" name="ff9" required class="form-control"
                                [(ngModel)]="studentAdd.second_name">
                        </div>

                        <div class="form-group">
                            <label for="inputName">Email</label>
                            <input type="text" id="Email" placeholder="exemple@emple.com" name="99454" required class="form-control"
                                [(ngModel)]="studentAdd.email">
                        </div>
                        <div class="form-group">
                            <label for="inputName">Adress</label>
                            <input type="text" id="inputName" placeholder="Adress" name="ff4444" required class="form-control"
                                [(ngModel)]="studentAdd.address">
                        </div>

                        <div class="form-group">
                            <label for="customFile" class="btn-outline-danger">Images</label>

                            <div class="custom-file">
                                <input type="file" (change)="selectPicture($event)" accept="image/*" name="258v0"
                                    class="custom-file-input" id="customFile" multiple>
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputName">Date de naissance</label>
                                    <input type="date" id="Date de naissance" name="dg" placeholder="Date de naissance" required
                                        class="form-control" [(ngModel)]="studentAdd.birthday">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputName">Groupe</label>
                                    <select class="form-control custom-select" name="ff454" [(ngModel)]="studentAdd.groupe">
                                        <option *ngFor="let groupe of groupes" [value]="groupe.id">
                                          {{groupe.groupe_name}}
                                        </option>

                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a class="btn btn-secondary" (click)="annuler()">Annuler</a>
                                <input type="submit" value="Ajouter" class="btn btn-success float-right"
                                    (click)="addStudent()">
                            </div>
                        </div>


                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

            <div class="col-md-2">
            </div>




            <div class="col-md-2">
            </div>
            <div class="col-md-8">

                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Afficher Listes Élèves</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                                <i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputStatus">Groupes</label>
                            <select class="form-control custom-select" [(ngModel)]="groupeSelected">
                                <option *ngFor="let groupe of groupes" [value]="groupe.id">
                                    {{groupe.sections[0].section_name}}-{{groupe.sections[0].level}}-{{groupe.sections[0].specialty}}-{{groupe.groupe_name}}
                                </option>

                            </select>
                        </div>
                        <div class="row">
                            <div class="col-12">

                                <input type="submit" value="Afficher" class="btn btn-success float-right"
                                    (click)="displayListeEleves()">
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>

            <div class="col-md-2">
            </div>

        </div>





    </section>
    <!-- /.content -->

    <div class="card" *ngIf="displayGroupeBoolean">
        <div class="card-header">
            <!-- <h3 class="card-title">
                   
                {{displayGroupeResult.sections[0].section_name}}{{displayGroupeResult.sections[0].level}}-{{displayGroupeResult.sections[0].specialty}}-{{displayGroupeResult.groupe_name}}
            </h3> -->
            <div class="card-tools">

                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Rechercher"
                        [(ngModel)]="search">

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr style="text-align: center;">
                        <th>#</th>
                        <th>CIN</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>email</th>
                        <th>Télephone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of displayGroupeResult|filter:search" style="text-align: center;">
                        <td class="image user-panel">
                            <img [src]="student.image" class="img-circle elevation-2" alt="Image">
                        </td>
                        <td>{{student.nic}}</td>
                        <td>{{student.first_name}}</td>
                        <td>{{student.second_name}}</td>
                        <td> {{student.email}}</td>
                        <td>{{student.address}}</td>
                    </tr>
                <tbody>

             
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>