<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Listes Groupes</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/accueil"> <i class="nav-icon fas fa-home"></i></a>
                        </li>
                        <li class="breadcrumb-item active">Listes groupes</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Listes groupes</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" 
                                title="Collapse">
                                <i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="form-group ">
                            <!-- <h5 class="mb-2">Info Box</h5> -->
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-12" *ngFor="let groupe of groupes">
                                    <div class="info-box">


                                        <div class="info-box-content">
                                            <span>&nbsp;</span>
                                            <h5 class="info-box-number" style="text-align: center;">
                                                {{groupe.sections[0].section_name}}-{{groupe.sections[0].level}}-{{groupe.sections[0].specialty}}
                                            </h5>
                                        </div>
                                        <h5 class="info-box-icon bg-success" style=" font-size: 15px;">{{groupe.groupe_name}}</h5>
                                        
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->


                            </div>
                            <!-- /.row -->
                        </div>






                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>


            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Nouvelle Section</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                                <i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="form-group ">


                            <div class="form-group">
                                <label for="inputName">Nom Section  </label>
                                <input type="text" id="Nom" placeholder="Nom" name="ff881" required class="form-control" [(ngModel)]="sectionAdd.section_name">
                            </div>
                            
                            
                            
                            
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputName">Niveau  </label>
                                        <input type="text" id="Niveau" placeholder="Niveau" name="ff2"  required class="form-control" [(ngModel)]="sectionAdd.level">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputName">Spécialité</label>
                                        <input type="text" id="Spécialité" placeholder="Spécialité" name="ff3"  required class="form-control" [(ngModel)]="sectionAdd.specialty">
                                    </div>
                                </div>
                            
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <a class="btn btn-secondary" (click)="annuler()">Annuler</a>
                                    <input type="submit" value="Ajouter" class="btn btn-success float-right" (click)="addSection()">                  </div>
                            </div>



                        </div>






                    </div>
                    
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Nouvel Groupe</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                                <i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="form-group ">


                            <div class="form-group">
                                <label for="inputName">Nom Groupe</label>
                                <input type="text" id="Nom" placeholder="Nom" name="ff771"  required class="form-control" [(ngModel)]="groupeAdd.groupe_name">
                            </div>
                            
                            
                            
                            
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputName">Section</label>
                                        <select class="form-control custom-select"  name="f44f1"  [(ngModel)]="groupeAdd.section">
                                            <option *ngFor="let section of sections" [value]="section.id">
                                                {{section.section_name}}
                                            </option>
                            
                                        </select>
                                    </div>
                                </div>
                               
                            
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <a class="btn btn-secondary" (click)="annuler()">Annuler</a>
                                    <input type="submit" value="Ajouter" class="btn btn-success float-right" (click)="addGroupe()">                  </div>
                            </div>



                        </div>






                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>



        </div>

    </section>
    <!-- /.content -->






</div>