<!-- <ng2-smart-table [settings]="settings" [source]="profesors"></ng2-smart-table> -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Listes professeurs</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/accueil"> <i class="nav-icon fas fa-home"></i></a>
                        </li>
                        <li class="breadcrumb-item active">Listes professeurs</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Ajouter Professeur</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" 
                                title="Collapse">
                                <i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="card-body ">

                        <div class="form-group">
                            <label for="inputName">CIN</label>
                            <input type="text" id="CIN" placeholder="CIN" required class="form-control"
                                [(ngModel)]="profesorAdd.nic">
                        </div>
                        <div class="form-group">
                            <label for="inputName">Nom</label>
                            <input type="text" id="Nom" placeholder="Nom" required class="form-control"
                                [(ngModel)]="profesorAdd.first_name">
                        </div>
                        <div class="form-group">
                            <label for="inputName">Prénom</label>
                            <input type="text" id="Prénom" placeholder="Prénom" required class="form-control"
                                [(ngModel)]="profesorAdd.second_name">
                        </div>

                        <div class="form-group">
                            <label for="inputName">Email</label>
                            <input type="text" id="Email" placeholder="exemple@emple.com" required class="form-control"
                                [(ngModel)]="profesorAdd.email">
                        </div>
                        <div class="form-group">
                            <label for="inputName">Adress</label>
                            <input type="text" id="inputName" placeholder="Adress" required class="form-control"
                                [(ngModel)]="profesorAdd.address">
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputName">Date de naissance</label>
                                    <input type="date" id="Date de naissance" placeholder="Date de naissance" required
                                        class="form-control" [(ngModel)]="profesorAdd.birthday">
                                </div>
                            </div>
                            <!--div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputName">Son Emploi</label>
                                    <select class="form-control custom-select" [(ngModel)]="profesorAdd.timetable">
                                        <option *ngFor="let timetable of timetables" [value]="timetable.id">
                                            {{timetable.Timetable_name}}</option>

                                    </select>
                                </div>
                            </div-->

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a class="btn btn-secondary" (click)="annuler()">Annuler</a>
                                <input type="submit" value="Ajouter" class="btn btn-success float-right"
                                    (click)="addProfesor()">
                            </div>
                        </div>


                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

            <div class="col-md-2">
            </div>

        </div>





    </section>
    <!-- /.content -->

    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Rechercher"
                        [(ngModel)]="search">

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>

            <!-- <h3 class="card-title">DataTable with default features</h3> -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>CIN</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>email</th>
                        <th>Télephone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let profesor of profesors|filter:search">
                        <td>{{profesor.nic}}</td>
                        <td>{{profesor.first_name}}</td>
                        <td>{{profesor.second_name}}</td>
                        <td> {{profesor.email}}</td>
                        <td>{{profesor.address}}</td>
                    </tr>
                <tfoot>
                 
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>