<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Salles</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/accueil"> <i class="nav-icon fas fa-home"></i></a>
                        </li>
                        <li class="breadcrumb-item active">Salles</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">



            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Les Salles</h3>


                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" style="background-color: #ebebeb ;">

                            <div class="table-responsive p-0" style="height: 300px;">

                                <div class="row">


                                    <div class="col-12 col-sm-6 col-md-3" *ngFor="let classroom of classrooms">
                                        <div class="info-box mb-3">
                                            <span class="info-box-icon bg-info elevation-1">
                                                {{classroom.classroom_name}}
                                            </span>

                                            <div class="info-box-content">
                                                <span class="info-box-text"> {{classroom.iP_cam}}</span>
                                                <!-- <span class="info-box-number">&nbsp;</span> -->
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                        <!-- /.info-box -->
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->
                        </div>

                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->










            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Nouvelle Salle</h3>


                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="inputStatus">Nom Salle</label>
                                    <input type="text" id="Nom" class="form-control" placeholder="Nom Salle"
                                [(ngModel)]="classroomAdd.classroom_name">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="inputStatus">@IP CAMÉRA</label>
                                    <input type="text" id="CAMERA" class="form-control" placeholder="@IP CAMÉRA"
                                [(ngModel)]="classroomAdd.iP_cam">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <a class="btn btn-secondary" (click)="annuler()">Annuler</a>
                                <input type="submit" value="Ajouter" class="btn btn-success float-right"
                                    (click)="addClassroom()">
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>




        </div>
    </section>





</div>