<div class="content-wrapper">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Matières</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/accueil"> <i class="nav-icon fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item active">Matières</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>






  <section class="content">
    <div class="container-fluid">
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Listes Sections</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            

            <div class="col-md-6">

              <div class="form-group">
                <label for="inputName">Nom Matière</label>
                <input type="text" id="Nom" [(ngModel)]="matterAdd.material_name" name="01" placeholder="Nom Matière" required
                  class="form-control">
              </div>
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group">
                <label>Sections</label>
                <select class="form-control custom-select " 
                  [(ngModel)]="matterAdd.section" name="02" data-placeholder="Sélectionnez une section " style="width: 100%;">
                  <option *ngFor="let section of sections" [value]="section.id">
                    {{section.section_name}}
                  </option>
                </select>
              </div>
              <!-- /.form-group -->

            </div>
         


            <div class="col-md-6">
              <div class="form-group">
                <label for="inputName">Type Matière</label>
                <input type="text" id="Type" [(ngModel)]="matterAdd.types" name="05" placeholder="Type Matière" required
                  class="form-control">
              </div>





            </div>

          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <a class="btn btn-secondary" (click)="annuler()">Annuler</a>
              <input type="submit" value="Ajouter" class="btn btn-success float-right" (click)="addMatter()"> </div>
          </div>


        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
      </div>
      <!-- /.card -->




      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Listes Matières</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" [(ngModel)]="search"
                    placeholder="Rechercher">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
              <table class="table table-head-fixed text-nowrap">
                <thead>
                  <tr style="text-align: center;">
                    <!-- <th>#</th> -->
                    <th>Nom Matière</th>
                    <th>Type</th>

                  </tr>
                </thead>
                <tbody>
                  <tr style="text-align: center;" *ngFor="let matter of matters|filter:search ">
                    <!-- <td>{{i+1}}</td> -->
                    <td>{{matter.material_name}}</td>
                    <td>{{matter.types}}</td>

                  </tr>

                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->

    </div>
  </section>
</div>